# Tabulate

Be sure to import Symbulate using the following commands.
<a id='simulation'></a>

In [ ]:
from symbulate import *
%matplotlib inline

<a id='sim'></a>

As discussed before, `.tabulate()` is used to quickly summarize counts of particular observatoins in a table.

Use `.tabulate(normalize=True)` to find the proportion (relative frequency) of times each outcome occurs.

**Example.** Roll two fair four-sided.  Each realization is an ordered pair of rolls.  There are 16 possible ordered pairs - (1, 1), (1, 2), ..., (4, 3), (4, 4) - all equally likely.

In [ ]:
die = list(range(1, 4+1, 1)) # this is just a list of the numbers 1 through 4
roll = BoxModel(die, size=2)
rolls = roll.sim(16000)
rolls.tabulate()

Now sum the dice, and approximate the probability distribution of the sum using tabulate with the normalize option.

In [10]:
rolls.apply(sum).tabulate(normalize=True)

{2: 0.0663125,
 3: 0.1236875,
 4: 0.182375,
 5: 0.2515625,
 6: 0.18675,
 7: 0.1258125,
 8: 0.0635}

Individual entries of the table can be referenced using `.tabulate()[label]` where label represents the value of interest.

In [11]:
rolls.tabulate()[(2,4)]

1027

In [12]:
roll_sum = rolls.apply(sum).tabulate(normalize=True)
roll_sum[6] + roll_sum[7] + roll_sum[8]

0.37606249999999997

By default, tabulate only tabulates those outcomes which are among the simulated values, rather than all possible outcomes.  An argument can be passed to `.tabulate()` to tabulate all outcomes in a given list.

In [13]:
die = list(range(1, 4+1, 1)) # this is just a list of the number 1 through 4
rolls = BoxModel(die).sim(2)
rolls.tabulate(die)

{1: 1, 2: 0, 3: 1, 4: 0}

In [14]:
# Compare with
rolls.tabulate()

{1: 1, 3: 1}

By default, the outcomes in the table produced by `.tabulate()` are in alphanumeric order.  A list can be passed to `.tabulate()` to achieve a specified order.

In [15]:
BoxModel(['a', 'b', 1, 2, 3]).sim(10).tabulate([3, 'a', 2, 'b', 1])

{1: 2, 2: 1, 3: 1, 'a': 6, 'b': 0}

<a id='count'></a>